#sec-home {
  background: #16202c url(#{$asset-path}imgs/banner.jpg) no-repeat center center;
  height: 100vh;
  min-height: 800px;
  position: relative;
  @include media(md) {
    background-size: auto 100%;
    min-height: 500px;
  }
  @include media(xxs) {
    background-image: url(#{$asset-path}imgs/banner-mobile.jpg);
  }
  ._logo {
    width: 100%;
    max-width: 1045px;
    margin-top: -65px;
    @include media(md) {
      margin-top: -45px;
    }
    @include media(xs) {
      margin-top: -45px;
      width: 100%;
    }
    @include media(xxs) {
      //margin-top: 150px;
      width: 120%;
      //max-width: 350px;
    }
  }
  ._scroll {
    color: white;
    justify-self: flex-end;
    margin-top: auto;
    margin-bottom: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: all 300ms ease-in-out;
    @include media(md) {
      margin-bottom: 12px;
    }
    .__mouse {
      position: relative;
      width: 36px;
      height: 56px;
      border-radius: 100px;
      background-size: 225%;
      margin: 0 auto;
      background: #4e5559 linear-gradient(transparent 0%, transparent 50%, #ffffff 50%, #ffffff 100%);;
      animation: colorSlide 7s linear infinite, nudgeMouse 7s ease-out infinite;
      @include media(md) {
        width: 26px;
        height: 40px;
      }

      &:before, &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        box-sizing: border-box;
      }
      &:before {
        width: calc(100% - 6px);
        height: calc(100% - 6px);
        background-color: #1D252F;
        border-radius: 100px;
      }
      &:after {
        background-color: #ffffff;
        width: 6px;
        height: 6px;
        border-radius: 100%;
        animation: trackBallSlide 7s linear infinite;
      }
    }
    .__instruction {
      margin: 20px 0;
      font-size: 20px;
      animation: colorText 7s ease-out infinite, nudgeText 7s ease-out infinite;
      font-weight: 300;
      @include media(md) {
        font-size: 12px;
        margin: 15px 0 13px 0;
      }
    }
    .__line {
      width: 1px;
      height: 40px;
      background-color: white;
      @include media(md) {
        height: 20px;
      }
    }
  }
}

.layout-1 {
  padding: 60px 0 0 0;
  @include media(lg) {
    padding: 30px 0 0 0;
  }
  @include media(md) {
    padding: 0;
  }
  .layout-inner-full {
    display: flex;
    @include media(md) {
      flex-wrap: wrap;
    }
  }
  ._left {
    width: 55%;
    background: white url(#{$asset-path}imgs/banner-intro.jpg) no-repeat center center;
    background-size: cover;
    @include media(md) {
      width: 100%;
      padding-bottom: 50%;
    }
    @include media(xs) {
      width: 100%;
      padding-bottom: 60%;
    }
  }
  ._right {
    width: 45%;
    background: white url(#{$asset-path}imgs/bg-marble.jpg) no-repeat center center;
    background-size: cover;
    padding: (40vw/19.2) (93vw/19.2) (77vw/19.2) (93vw/19.2);
    box-sizing: border-box;
    @include media(md) {
      width: auto;
      padding: 20px 20px 20px 20px;
    }
    .__logo {
      width: 200px;
      @include media(md) {
        width: 100px;
      }
    }
    .__content {
      margin: (40vw/19.2) 0 0 0;
      font-size: (22vw/19.2);
      line-height: (26vw/19.2);
      font-weight: 300;
      @include media(md) {
        margin: 20px 0 0 0;
        font-size: 13px;
        line-height: 16px;
      }
      .highlight {
        font-weight: normal;
      }
    }
  }
}

.data-act {
  padding: (80vw/19.2) 0 0 0;
  @include media(md) {
    padding: 30px 0 0 0;
  }
  .layout-inner-full {
    display: flex;
    @include media(md) {
      flex-wrap: wrap;
    }
  }
  h1 {
    font-weight: 500;
    font-size: (170vw/19.2);
    line-height: (170vw/19.2);
    color: #dddddd;
    text-align: center;
    margin: (40vw/19.2) 0 (15vw/19.2) 0;
    @include media(md) {
      font-size: 50px;
      line-height: 42px;
      margin: 22px 0 15px 0;
    }
  }
  ._left {
    width: 50%;
    background: white url(#{$asset-path}imgs/banner-data.jpg) no-repeat center center;
    background-size: cover;
    @include media(md) {
      width: 100%;
      padding-bottom: 50%;
    }
    @include media(xs) {
      width: 100%;
      padding-bottom: 60%;
    }
  }
  ._right {
    width: 50%;
    padding: (130vw/19.2);
    height: (500vw/19.2);
    box-sizing: border-box;
    background: white url(#{$asset-path}imgs/bg-red-wood.jpg) no-repeat center center;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: (30vw/19.2);
    font-weight: normal;
    @include media(md) {
      width: 100%;
      height: 150px;
      font-size: 15px;
      padding: 0 32px;
    }
  }
}

.sec-info {
  padding: 60px 0 0 0;
  @include media(md) {
    padding: 40px 0 0 0;
    .layout-inner {
      max-width: 600px;
    }
  }
  ._info-img {
    width: 100%;
    height: auto;
    max-width: 1281px;
    //height: 534px;
  }
  ._info-desc {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 60px 0;
    @include media(md) {
      flex-wrap: wrap;
      margin: 20px 0 0 0;
    }
    h2 {
      text-transform: uppercase;
      font-weight: 500;
      margin: 0;
    }
    .outer-ul {
      width: 33.33%;
      padding-right: 20px;
      @include media(md) {
        width: 100%;
        padding: 0 0 0 16px;
        margin: 5px 0 20px 0;
      }
      &:last-child {
        padding-right: 0;
      }
      & > li {
        font-size: 14px;
        padding-left: 0;
        @include media(md) {
          font-size: 12px;
        }
        span {
          font-size: 20px;
          @include media(md) {
            font-size: 13px;
            line-height: 16px;
          }
        }
      }
    }
    .inner-ul {
      list-style: none;
      padding: 0 0 0 5px;
    }
  }
}

.sec-diagram {
  h1 {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    padding-top: 60px;
    text-transform: uppercase;
    @include media(lg) {
      font-size: 40px;
      padding-top: 40px;
    }
    @include media(md) {
      font-size: 35px;
      padding-top: 70px;
    }
    @include media(xs) {
      font-size: 25px;
      padding-top: 40px;
    }
    @include media(xxs) {
      padding-top: 35px;
    }
  }
  .diagram {
    margin: 60px 0 0 0;
    background: #16202c url(#{$asset-path}imgs/da-venn.jpg) no-repeat center center;
    background-size: auto 100%;
    height: 909px;
    @include media(lg) {
      height: 709px;
    }
    @include media(md) {
      height: 679px;
      background-image: url(#{$asset-path}imgs/da-venn-mobile.jpg);
      margin-top: 25px;
    }
    @include media(xs) {
      height: 400px;
    }
    @include media(xxs) {
      height: 342px;
    }
  }
}

.sec-outro {
  margin: (80vw/19.2) 0 0 0;
  @include media(md) {
    margin: 30px 0 0 0;
  }
  ._wrap {
    margin: (80vw/19.2) 0 0 0;
    display: flex;
    justify-content: center;
    @include media(md) {
      margin: 30px 0 0 0;
    }
    ._inner {
      width: (1400vw/19.2);
      @include media(md) {
        width: 100%;
      }
    }
  }
  .outro {
    width: 100%;
    background: #ffffff url(#{$asset-path}imgs/banner-2.jpg) no-repeat center center;
    background-size: auto 100%;
    padding-bottom: 52%;
    position: relative;
    @include media(md) {
      padding: 0;
      height: 330px;
      background-size: auto 120%;
      background-position: center -50px;
    }
    @include media(xxs) {
      background-size: auto 110%;
      background-position: center -40px;
    }
    ._text {
      width: 100%;
      color: white;
      position: absolute;
      margin-top: (320vw/19.2);
      @include media(md) {
        margin-top: 120px;
      }
    }
    h2 {
      font-size: (50vw/19.2);
      text-align: center;
      font-weight: normal;
      margin: 0 0 1px 0;
      @include media(md) {
        font-size: 20px;
      }
    }
    ._header-2 {
      margin-top: 40px;
      @include media(md) {
        margin-top: 20px;
      }
    }
    p {
      font-size: (30vw/19.2);
      text-align: center;
      margin: 0 0;
      @include media(md) {
        font-size: 15px;
      }
    }
  }
}

#sec-contact {
  margin: (80vw/19.2) 0 0 0;
  @include media(md) {
    margin: 30px 0 0 0;
  }
}

.sec-address {
  padding: (80vw/19.2) 0 0 0;
  @include media(md) {
    padding: 30px 0 0 0;
  }
  .layout-inner-full {
    display: flex;
    @include media(md) {
      flex-wrap: wrap;
    }
  }
  ._left {
    width: 55%;
    background: white url(#{$asset-path}imgs/bg-primary.jpg) no-repeat center center;
    background-size: cover;
    @include media(md) {
      width: 100%;
    }
  }
  ._right {
    width: 45%;
    background: white url(#{$asset-path}imgs/bg-primary.jpg) no-repeat center center;
    background-size: cover;
    padding: (40vw/19.2);
    box-sizing: border-box;
    height: (550vw/19.2);
    @include media(md) {
      width: 100%;
      height: 275px;
      padding: 20px 20px 20px 20px;
    }
    .__logo {
      width: (330vw/19.2);
      @include media(md) {
        width: 170px;
      }
    }
    .__address {
      margin: (40vw/19.2) 0 0 0;
      font-size: (20vw/19.2);
      line-height: (24vw/19.2);
      font-weight: normal;
      @include media(md) {
        margin: 20px 0 0 0;
        font-size: 13px;
        line-height: 16px;
      }
    }
    .__number {
      margin: (40vw/19.2) 0 0 0;
      font-size: (30vw/19.2);
      line-height: (34vw/19.2);
      font-weight: normal;
      @include media(md) {
        margin: 20px 0 0 0;
        font-size: 13px;
        line-height: 16px;
      }
    }
  }
}

.sec-contact {
  .contact-form {
    margin: 0 0 80px 0;
    @include media(md) {
      margin: 0 0 50px 0;
    }
  }
  .form-items {
    display: flex;
    justify-content: center;
    @include media(md) {
      flex-wrap: wrap;
      flex-flow: column;
      width: 100%;
    }
  }
  h1 {
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    margin: 40px 0 20px 0;
  }
  .ts-input {
    font-size: 20px;
    border: 1px solid #cccccc;
    padding: 9px 20px;
    @include media(md) {
      font-size: 15px;
      padding: 5px 10px;
      width: 100%;
    }
    &:focus {
      border-color: $color1-lighter;
      outline: none;
    }
    &::placeholder {
      color: #666666;
      font-style: italic;
    }
  }
  input {
    box-sizing: border-box;
    height: 43px;
    margin-bottom: 20px;
    @include media(md) {
      height: 30px;
      margin-bottom: 10px;
    }
  }
  textarea {
    margin-left: 20px;
    height: 169px;
    box-sizing: border-box;
    @include media(md) {
      margin-left: 0;
    }
  }
  .btn-wrap {
    display: flex;
    justify-content: center;
    @include media(md) {
      margin: 10px 0 0 0;
    }
  }
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

// Buttons
// ----------------------------------------
.btn {
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  border: none;
  @include media(md) {
    font-size: 15px;
  }
  &:hover {
    opacity: .7;
  }
}

.btn-primary {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: $color1-lighter;
  height: 43px;
  width: 90px;
  margin: 0 0 0 10px;
  &:disabled {
    background-color: #cccccc;
    &:hover {
      opacity: 1;
    }
  }
  @include media(md) {
    height: 30px;
    width: 72px;
  }
}

.btn-send {
  height: 43px;
  width: 90px;
  margin: 0 0 0 10px;
  @include media(md) {
    height: 30px;
    width: 72px;
  }
}

.btn-reset {
  color: $color1-lighter;
  border-bottom: 1px solid $color1-lighter;
  background-color: transparent;
  text-align: right;
  cursor: pointer;
  margin: 10px 10px 0 46px;
  height: 22px;
  padding: 0;
  @include media(md) {
    margin: 6px 10px 0 10px;
    height: 17px;
  }
}
