// Responsive Mixins
// --------------------------------

@mixin media($media) {
  @if $media == xxs {
    @media (max-width: $bp-xxs) {
      @content;
    }
  } @else if $media == xs {
    @media (max-width: $bp-xs) {
      @content;
    }
  } @else if $media == sm {
    @media (max-width: $bp-sm) {
      @content;
    }
  } @else if $media == md {
    @media (max-width: $bp-md) {
      @content;
    }
  } @else if $media == lg {
    @media (max-width: $bp-lg) {
      @content;
    }
  } @else if $media == xl {
    @media (max-width: $bp-xl) {
      @content;
    }
  } @else if $media == xxl {
    @media (min-width: $bp-xl-min) {
      @content;
    }
  } @else if $media == xs-plus {
    @media (min-width: $bp-xs-min) {
      @content;
    }
  } @else if $media == sm-plus {
    @media (min-width: $bp-sm-min) {
      @content;
    }
  } @else if $media == md-plus {
    @media (min-width: $bp-md-min) {
      @content;
    }
  } @else if $media == lg-plus {
    @media (min-width: $bp-lg-min) {
      @content;
    }
  } @else if $media == xl-plus {
    @media (min-width: $bp-xl-min) {
      @content;
    }
  }
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin chevron($chevron-thickness, $chevron-size, $chevron-offset) {
  &::before {
    border-style: solid;
    border-width: $chevron-thickness $chevron-thickness 0 0;
    content: '';
    display: inline-block;
    height: $chevron-size;
    width: $chevron-size;
    top: $chevron-offset;
    left: $chevron-offset;
    position: relative;
    transform: rotate(135deg);
    transition: all .3s;
  }
}
