#main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px; // 70
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0) 100%);
  background-size: cover;
  display: flex;
  justify-content: center;
  z-index: 99;
  transition: all 300ms ease-in-out;
  overflow-y: hidden;
  @include media(md) {
    height: 70px;
  }
  .nav-inner {
    width: 100%;
    max-width: 1310px;
    display: flex;
    padding: 0 11px;
    box-sizing: border-box;
    @include media(md) {
      display: flex;
      justify-content: center;
    }
  }
  .nav-logo {
    width: 150px;
    height: auto;
    margin-top: 12px;
    img {
      width: 100%;
    }
    @include media(sm) {
      margin-top: 9px;
    }
  }
  .nav-list {
    margin-left: auto;
    .nav-item {
      padding: 20px 0 30px 0;
      display: inline-block;
      text-decoration: none;
      color: white;
      margin-left: 40px;
    }
    // customize
    .nav-contact {
      color: $color1;
    }
    // on active here
    @include media(sm) {
      position: absolute;
      opacity: 0;
      z-index: 1;
      transition: all 300ms ease-in-out;
      display: block;
      top: 26vh;
      left: 0;
      width: 100%;
      height: 100vh;
      .nav-item {
        margin: 0;
        width: 100%;
        text-align: center;
        font-size: 20px;
        padding: 30px 0 30px 0;
      }
    }
  }

  // Toggle
  // ----------------------------------------
  #nav-toggle {
    display: inline-block;
    cursor: pointer;
    padding: 10px 35px 16px 0;
    top: 10px;
    left: 10px;
    position: absolute;
    transition: all 300ms ease-in-out;
    z-index: 9;
    @include media(sm-plus) {
      display: none;
    }
    span {
      cursor: pointer;
      border-radius: 1px;
      height: 2px;
      width: 1.5em;
      background: #ffffff;
      position: absolute;
      display: block;
      content: '';
      transition: all 300ms ease-in-out;
      &:after, &:before {
        cursor: pointer;
        border-radius: 1px;
        height: 2px;
        width: 1.5em;
        background: #ffffff;
        position: absolute;
        display: block;
        content: '';
        transition: all 300ms ease-in-out;
      }
      &:before {
        top: -8px;
      }
      &:after {
        bottom: -8px;
      }
    }
  }
}

// active
.mobile-menu-expanded #main-nav {
  height: 100vh;
  background: linear-gradient(to bottom, rgba(18, 26, 35, 1) 100%, rgba(18, 26, 35, 1) 100%);
  #nav-toggle {
    top: 5px;
    span {
      background-color: transparent;
      &:before {
        top: 5px;
        transform: rotate(45deg);
      }
      &:after {
        top: 5px;
        transform: rotate(-45deg);
      }
    }
  }
  .nav-list {
    opacity: 1;
  }
}

// non-nav items
.mobile-menu-expanded {
  ._scroll {
    opacity: 0;
  }
}
