/* The Modal (background) */
.ml-popup {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);

  .back-drop {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 201;
  }

  /* Modal Content/Box */
  .mp-inner {
    background-color: #fefefe;
    margin: 115px auto;
    padding: 60px 70px;
    //border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 760px; // popup width here!
    box-sizing: border-box;
    position: relative;
    z-index: 209;
    @include media(xs) {
      margin: 81px 0 51px 0;
      padding: 28px 11px;
      //width: calc(100% - 10px);
      width: 100%;
    }
    &.small {
      max-width: 852px;
      padding: 100px 70px;
      @include media(md) {
        padding: 60px 10px;
      }
    }
  }
  .sp-close {
    position: absolute;
    font-size: 50px;
    color: $color-font;
    top: -14px;
    right: 7px;
    cursor: pointer;
    font-weight: 300;
    @include media(xs) {
      top: -17px;
      right: 3px;
      font-size: 50px;
    }
  }

  // Content
  // ----------------------------------------

  .mp-content {
    width: 100%;
    box-sizing: border-box;
    color: $color-font;
    .heading1 {
      font-size: 64px;
      margin: 0 0 0 0;
      @include media(md) {
        font-size: 30px;
        margin: 0 0 0 0;
      }
    }
    .heading2 {
      font-size: 30px;
      margin: 18px 0 0 0;
      font-weight: 500;
      @include media(md) {
        font-size: 14px;
        margin: 10px 0 0 0;
      }
    }
    .heading3 {
      font-size: 30px;
      margin: 5px 0 0 0;
      font-weight: 300;
      @include media(md) {
        font-size: 14px;
        margin: 5px 0 0 0;
      }
    }
    .btn-close {
      font-weight: 500;
      font-size: 20px;
      margin: 25px auto 0 auto;
      width: 100px;
      @include media(md) {
        font-size: 15px;
      }
    }
  }
}

