$asset-path: "../";

$content-width: 1300px; // include padding below (*2)
$content-padding: 10px;

$color1: #E6176F;
$color1-lighter: #e80e70;
$color2: #df2c2f;
$color3: #333333;
$color-danger: #df2c2f;

$color-font: #333333;
$color-font-lighter: #999999;
$color-font-medium: #666666;
$color-input-border: #cccccc;

$color-bg1: #f7f7f7;

$nav-height: 140px;
$nav-height-min: 71px;
$nav-height-mobile: 55px;

$font-family1: 'kalatexatext', sans-serif;
$font-family2: renh, sans-serif;
$font-family3: 'Kanit', sans-serif;
$font-family-system: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

