/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.col-12 {
  width: 100%; }

.col-6 {
  width: 50%; }

.col-4 {
  width: 33.333%; }

.col-3 {
  width: 25%; }

@media (min-width: 576px) {
  .xs-col-6 {
    width: 50%; } }

@media (min-width: 768px) {
  .sm-col-6 {
    width: 50%; } }

@media (min-width: 992px) {
  .md-col-6 {
    width: 50%; }
  .md-col-4 {
    width: 33.33%; }
  .md-col-3 {
    width: 25%; } }

.ml-col {
  box-sizing: border-box; }

body {
  background-color: #ffffff;
  font-family: 'Kanit', sans-serif;
  overflow-x: hidden;
  color: #333333;
  padding: 0;
  margin: 0; }
  body.mobile-menu-expanded {
    overflow-y: hidden; }
  body.body-no-scroll {
    overflow-y: hidden; }

.nav-pad {
  height: 140px; }
  @media (max-width: 991px) {
    .nav-pad {
      height: 55px; } }

.font1 {
  font-family: "kalatexatext", sans-serif; }

.font2 {
  font-family: renh, sans-serif; }

.font3 {
  font-family: "Kanit", sans-serif; }

.color2 {
  color: #df2c2f; }

.color-danger {
  color: #df2c2f; }

.color-font {
  color: #333333; }

.bold {
  font-weight: bold; }

.bg1 {
  background-color: #f9f9f9; }

.bg-facebook {
  background-color: #3b5998; }

.bg-twitter {
  background-color: #55acee; }

.bg-linkedin {
  background-color: #0077b6; }

.bg-email {
  background-color: #97ca3f; }

.color-facebook {
  color: #3b5998; }

.color-twitter {
  color: #55acee; }

.color-linkedin {
  color: #0077b6; }

.color-email {
  color: #97ca3f; }

.flex {
  display: flex; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.flex-h-center {
  display: flex;
  justify-content: center; }

.flex-v-center {
  display: flex;
  flex-direction: column;
  align-items: center; }

.layout-outer {
  width: 100%;
  display: flex;
  justify-content: center; }

.layout-inner {
  width: 100%;
  max-width: 1300px;
  padding: 0 60px;
  box-sizing: border-box; }
  .layout-inner.no-padding {
    padding: 0; }
  @media (max-width: 1280px) {
    .layout-inner {
      padding: 0 30px; } }
  @media (max-width: 991px) {
    .layout-inner {
      overflow: hidden;
      padding: 0 20px; } }

.layout-inner-full {
  width: 100%;
  box-sizing: border-box;
  padding: 0 60px; }
  @media (max-width: 1280px) {
    .layout-inner-full {
      padding: 0 30px; } }
  @media (max-width: 991px) {
    .layout-inner-full {
      padding: 0; } }

.layout-narrow {
  width: 100%;
  max-width: 452px; }

.ml-link {
  text-decoration: none;
  color: #333333; }
  .ml-link:hover {
    color: #df2c2f; }

.underline {
  text-decoration: underline; }

.pad-top-1 {
  padding-top: 40px; }
  @media (max-width: 991px) {
    .pad-top-1 {
      padding-top: 20px; } }

.pad-top-2 {
  padding-top: 15px; }
  @media (max-width: 991px) {
    .pad-top-2 {
      padding-top: 20px; } }

.centered {
  text-align: center; }

.highlight {
  color: #E6176F; }

.heading1 {
  font-weight: bold;
  font-size: 30px;
  margin: 37px 0 35px 0;
  width: 100%; }
  @media (max-width: 991px) {
    .heading1 {
      font-size: 22px; } }
  .heading1.primary {
    margin-top: 60px; }
    @media (max-width: 991px) {
      .heading1.primary {
        margin: 38px 0 12px 0; } }

.heading2 {
  font-weight: bold;
  font-size: 22px;
  margin: 20px 0 20px 0;
  width: 100%; }

.heading3 {
  font-weight: normal;
  font-size: 18px;
  margin: 20px 0 20px 0;
  width: 100%; }
  @media (max-width: 991px) {
    .heading3 {
      font-size: 15px; } }
  @media (max-width: 991px) {
    .heading3.primary {
      margin: 16px 0 0 0; } }

.plain-anchor {
  text-decoration: none;
  color: #333333; }

.ml-normalize a {
  text-decoration: none;
  color: #333333; }

.br-md-m {
  display: none; }
  @media (max-width: 991px) {
    .br-md-m {
      display: inline-block; } }

.md-only {
  display: none; }
  @media (min-width: 992px) {
    .md-only {
      display: inline-block; } }

.mdm-only {
  display: none; }
  @media (max-width: 991px) {
    .mdm-only {
      display: inline-block; } }

.sm-only {
  display: none; }
  @media (min-width: 768px) {
    .sm-only {
      display: inline-block; } }

.smm-only {
  display: none; }
  @media (max-width: 767px) {
    .smm-only {
      display: inline-block; } }

.divider {
  background-color: #ce1c69;
  height: 1px;
  width: 200px;
  margin: 0 auto; }
  @media (max-width: 991px) {
    .divider {
      width: 100px; } }

@media (min-width: 992px) {
  .show-md {
    display: none; } }

@media (max-width: 991px) {
  .hide-md {
    display: none; } }

@media (min-width: 768px) {
  .show-sm {
    display: none; } }

@media (min-width: 576px) {
  .show-xs {
    display: none; } }

#sec-home {
  background: #16202c url(../imgs/banner.jpg) no-repeat center center;
  height: 100vh;
  min-height: 800px;
  position: relative; }
  @media (max-width: 991px) {
    #sec-home {
      background-size: auto 100%;
      min-height: 500px; } }
  @media (max-width: 460px) {
    #sec-home {
      background-image: url(../imgs/banner-mobile.jpg); } }
  #sec-home ._logo {
    width: 100%;
    max-width: 1045px;
    margin-top: -65px; }
    @media (max-width: 991px) {
      #sec-home ._logo {
        margin-top: -45px; } }
    @media (max-width: 575px) {
      #sec-home ._logo {
        margin-top: -45px;
        width: 100%; } }
    @media (max-width: 460px) {
      #sec-home ._logo {
        width: 120%; } }
  #sec-home ._scroll {
    color: white;
    justify-self: flex-end;
    margin-top: auto;
    margin-bottom: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: all 300ms ease-in-out; }
    @media (max-width: 991px) {
      #sec-home ._scroll {
        margin-bottom: 12px; } }
    #sec-home ._scroll .__mouse {
      position: relative;
      width: 36px;
      height: 56px;
      border-radius: 100px;
      background-size: 225%;
      margin: 0 auto;
      background: #4e5559 linear-gradient(transparent 0%, transparent 50%, #ffffff 50%, #ffffff 100%);
      -webkit-animation: colorSlide 7s linear infinite, nudgeMouse 7s ease-out infinite;
              animation: colorSlide 7s linear infinite, nudgeMouse 7s ease-out infinite; }
      @media (max-width: 991px) {
        #sec-home ._scroll .__mouse {
          width: 26px;
          height: 40px; } }
      #sec-home ._scroll .__mouse:before, #sec-home ._scroll .__mouse:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        box-sizing: border-box; }
      #sec-home ._scroll .__mouse:before {
        width: calc(100% - 6px);
        height: calc(100% - 6px);
        background-color: #1D252F;
        border-radius: 100px; }
      #sec-home ._scroll .__mouse:after {
        background-color: #ffffff;
        width: 6px;
        height: 6px;
        border-radius: 100%;
        -webkit-animation: trackBallSlide 7s linear infinite;
                animation: trackBallSlide 7s linear infinite; }
    #sec-home ._scroll .__instruction {
      margin: 20px 0;
      font-size: 20px;
      -webkit-animation: colorText 7s ease-out infinite, nudgeText 7s ease-out infinite;
              animation: colorText 7s ease-out infinite, nudgeText 7s ease-out infinite;
      font-weight: 300; }
      @media (max-width: 991px) {
        #sec-home ._scroll .__instruction {
          font-size: 12px;
          margin: 15px 0 13px 0; } }
    #sec-home ._scroll .__line {
      width: 1px;
      height: 40px;
      background-color: white; }
      @media (max-width: 991px) {
        #sec-home ._scroll .__line {
          height: 20px; } }

.layout-1 {
  padding: 60px 0 0 0; }
  @media (max-width: 1280px) {
    .layout-1 {
      padding: 30px 0 0 0; } }
  @media (max-width: 991px) {
    .layout-1 {
      padding: 0; } }
  .layout-1 .layout-inner-full {
    display: flex; }
    @media (max-width: 991px) {
      .layout-1 .layout-inner-full {
        flex-wrap: wrap; } }
  .layout-1 ._left {
    width: 55%;
    background: white url(../imgs/banner-intro.jpg) no-repeat center center;
    background-size: cover; }
    @media (max-width: 991px) {
      .layout-1 ._left {
        width: 100%;
        padding-bottom: 50%; } }
    @media (max-width: 575px) {
      .layout-1 ._left {
        width: 100%;
        padding-bottom: 60%; } }
  .layout-1 ._right {
    width: 45%;
    background: white url(../imgs/bg-marble.jpg) no-repeat center center;
    background-size: cover;
    padding: 2.08333vw 4.84375vw 4.01042vw 4.84375vw;
    box-sizing: border-box; }
    @media (max-width: 991px) {
      .layout-1 ._right {
        width: auto;
        padding: 20px 20px 20px 20px; } }
    .layout-1 ._right .__logo {
      width: 200px; }
      @media (max-width: 991px) {
        .layout-1 ._right .__logo {
          width: 100px; } }
    .layout-1 ._right .__content {
      margin: 2.08333vw 0 0 0;
      font-size: 1.14583vw;
      line-height: 1.35417vw;
      font-weight: 300; }
      @media (max-width: 991px) {
        .layout-1 ._right .__content {
          margin: 20px 0 0 0;
          font-size: 13px;
          line-height: 16px; } }
      .layout-1 ._right .__content .highlight {
        font-weight: normal; }

.data-act {
  padding: 4.16667vw 0 0 0; }
  @media (max-width: 991px) {
    .data-act {
      padding: 30px 0 0 0; } }
  .data-act .layout-inner-full {
    display: flex; }
    @media (max-width: 991px) {
      .data-act .layout-inner-full {
        flex-wrap: wrap; } }
  .data-act h1 {
    font-weight: 500;
    font-size: 8.85417vw;
    line-height: 8.85417vw;
    color: #dddddd;
    text-align: center;
    margin: 2.08333vw 0 0.78125vw 0; }
    @media (max-width: 991px) {
      .data-act h1 {
        font-size: 50px;
        line-height: 42px;
        margin: 22px 0 15px 0; } }
  .data-act ._left {
    width: 50%;
    background: white url(../imgs/banner-data.jpg) no-repeat center center;
    background-size: cover; }
    @media (max-width: 991px) {
      .data-act ._left {
        width: 100%;
        padding-bottom: 50%; } }
    @media (max-width: 575px) {
      .data-act ._left {
        width: 100%;
        padding-bottom: 60%; } }
  .data-act ._right {
    width: 50%;
    padding: 6.77083vw;
    height: 26.04167vw;
    box-sizing: border-box;
    background: white url(../imgs/bg-red-wood.jpg) no-repeat center center;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5625vw;
    font-weight: normal; }
    @media (max-width: 991px) {
      .data-act ._right {
        width: 100%;
        height: 150px;
        font-size: 15px;
        padding: 0 32px; } }

.sec-info {
  padding: 60px 0 0 0; }
  @media (max-width: 991px) {
    .sec-info {
      padding: 40px 0 0 0; }
      .sec-info .layout-inner {
        max-width: 600px; } }
  .sec-info ._info-img {
    width: 100%;
    height: auto;
    max-width: 1281px; }
  .sec-info ._info-desc {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 60px 0; }
    @media (max-width: 991px) {
      .sec-info ._info-desc {
        flex-wrap: wrap;
        margin: 20px 0 0 0; } }
    .sec-info ._info-desc h2 {
      text-transform: uppercase;
      font-weight: 500;
      margin: 0; }
    .sec-info ._info-desc .outer-ul {
      width: 33.33%;
      padding-right: 20px; }
      @media (max-width: 991px) {
        .sec-info ._info-desc .outer-ul {
          width: 100%;
          padding: 0 0 0 16px;
          margin: 5px 0 20px 0; } }
      .sec-info ._info-desc .outer-ul:last-child {
        padding-right: 0; }
      .sec-info ._info-desc .outer-ul > li {
        font-size: 14px;
        padding-left: 0; }
        @media (max-width: 991px) {
          .sec-info ._info-desc .outer-ul > li {
            font-size: 12px; } }
        .sec-info ._info-desc .outer-ul > li span {
          font-size: 20px; }
          @media (max-width: 991px) {
            .sec-info ._info-desc .outer-ul > li span {
              font-size: 13px;
              line-height: 16px; } }
    .sec-info ._info-desc .inner-ul {
      list-style: none;
      padding: 0 0 0 5px; }

.sec-diagram h1 {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  padding-top: 60px;
  text-transform: uppercase; }
  @media (max-width: 1280px) {
    .sec-diagram h1 {
      font-size: 40px;
      padding-top: 40px; } }
  @media (max-width: 991px) {
    .sec-diagram h1 {
      font-size: 35px;
      padding-top: 70px; } }
  @media (max-width: 575px) {
    .sec-diagram h1 {
      font-size: 25px;
      padding-top: 40px; } }
  @media (max-width: 460px) {
    .sec-diagram h1 {
      padding-top: 35px; } }

.sec-diagram .diagram {
  margin: 60px 0 0 0;
  background: #16202c url(../imgs/da-venn.jpg) no-repeat center center;
  background-size: auto 100%;
  height: 909px; }
  @media (max-width: 1280px) {
    .sec-diagram .diagram {
      height: 709px; } }
  @media (max-width: 991px) {
    .sec-diagram .diagram {
      height: 679px;
      background-image: url(../imgs/da-venn-mobile.jpg);
      margin-top: 25px; } }
  @media (max-width: 575px) {
    .sec-diagram .diagram {
      height: 400px; } }
  @media (max-width: 460px) {
    .sec-diagram .diagram {
      height: 342px; } }

.sec-outro {
  margin: 4.16667vw 0 0 0; }
  @media (max-width: 991px) {
    .sec-outro {
      margin: 30px 0 0 0; } }
  .sec-outro ._wrap {
    margin: 4.16667vw 0 0 0;
    display: flex;
    justify-content: center; }
    @media (max-width: 991px) {
      .sec-outro ._wrap {
        margin: 30px 0 0 0; } }
    .sec-outro ._wrap ._inner {
      width: 72.91667vw; }
      @media (max-width: 991px) {
        .sec-outro ._wrap ._inner {
          width: 100%; } }
  .sec-outro .outro {
    width: 100%;
    background: #ffffff url(../imgs/banner-2.jpg) no-repeat center center;
    background-size: auto 100%;
    padding-bottom: 52%;
    position: relative; }
    @media (max-width: 991px) {
      .sec-outro .outro {
        padding: 0;
        height: 330px;
        background-size: auto 120%;
        background-position: center -50px; } }
    @media (max-width: 460px) {
      .sec-outro .outro {
        background-size: auto 110%;
        background-position: center -40px; } }
    .sec-outro .outro ._text {
      width: 100%;
      color: white;
      position: absolute;
      margin-top: 16.66667vw; }
      @media (max-width: 991px) {
        .sec-outro .outro ._text {
          margin-top: 120px; } }
    .sec-outro .outro h2 {
      font-size: 2.60417vw;
      text-align: center;
      font-weight: normal;
      margin: 0 0 1px 0; }
      @media (max-width: 991px) {
        .sec-outro .outro h2 {
          font-size: 20px; } }
    .sec-outro .outro ._header-2 {
      margin-top: 40px; }
      @media (max-width: 991px) {
        .sec-outro .outro ._header-2 {
          margin-top: 20px; } }
    .sec-outro .outro p {
      font-size: 1.5625vw;
      text-align: center;
      margin: 0 0; }
      @media (max-width: 991px) {
        .sec-outro .outro p {
          font-size: 15px; } }

#sec-contact {
  margin: 4.16667vw 0 0 0; }
  @media (max-width: 991px) {
    #sec-contact {
      margin: 30px 0 0 0; } }

.sec-address {
  padding: 4.16667vw 0 0 0; }
  @media (max-width: 991px) {
    .sec-address {
      padding: 30px 0 0 0; } }
  .sec-address .layout-inner-full {
    display: flex; }
    @media (max-width: 991px) {
      .sec-address .layout-inner-full {
        flex-wrap: wrap; } }
  .sec-address ._left {
    width: 55%;
    background: white url(../imgs/bg-primary.jpg) no-repeat center center;
    background-size: cover; }
    @media (max-width: 991px) {
      .sec-address ._left {
        width: 100%; } }
  .sec-address ._right {
    width: 45%;
    background: white url(../imgs/bg-primary.jpg) no-repeat center center;
    background-size: cover;
    padding: 2.08333vw;
    box-sizing: border-box;
    height: 28.64583vw; }
    @media (max-width: 991px) {
      .sec-address ._right {
        width: 100%;
        height: 275px;
        padding: 20px 20px 20px 20px; } }
    .sec-address ._right .__logo {
      width: 17.1875vw; }
      @media (max-width: 991px) {
        .sec-address ._right .__logo {
          width: 170px; } }
    .sec-address ._right .__address {
      margin: 2.08333vw 0 0 0;
      font-size: 1.04167vw;
      line-height: 1.25vw;
      font-weight: normal; }
      @media (max-width: 991px) {
        .sec-address ._right .__address {
          margin: 20px 0 0 0;
          font-size: 13px;
          line-height: 16px; } }
    .sec-address ._right .__number {
      margin: 2.08333vw 0 0 0;
      font-size: 1.5625vw;
      line-height: 1.77083vw;
      font-weight: normal; }
      @media (max-width: 991px) {
        .sec-address ._right .__number {
          margin: 20px 0 0 0;
          font-size: 13px;
          line-height: 16px; } }

.sec-contact .contact-form {
  margin: 0 0 80px 0; }
  @media (max-width: 991px) {
    .sec-contact .contact-form {
      margin: 0 0 50px 0; } }

.sec-contact .form-items {
  display: flex;
  justify-content: center; }
  @media (max-width: 991px) {
    .sec-contact .form-items {
      flex-wrap: wrap;
      flex-flow: column;
      width: 100%; } }

.sec-contact h1 {
  text-align: center;
  font-weight: normal;
  font-size: 30px;
  margin: 40px 0 20px 0; }

.sec-contact .ts-input {
  font-size: 20px;
  border: 1px solid #cccccc;
  padding: 9px 20px; }
  @media (max-width: 991px) {
    .sec-contact .ts-input {
      font-size: 15px;
      padding: 5px 10px;
      width: 100%; } }
  .sec-contact .ts-input:focus {
    border-color: #e80e70;
    outline: none; }
  .sec-contact .ts-input::-webkit-input-placeholder {
    color: #666666;
    font-style: italic; }
  .sec-contact .ts-input::-ms-input-placeholder {
    color: #666666;
    font-style: italic; }
  .sec-contact .ts-input::placeholder {
    color: #666666;
    font-style: italic; }

.sec-contact input {
  box-sizing: border-box;
  height: 43px;
  margin-bottom: 20px; }
  @media (max-width: 991px) {
    .sec-contact input {
      height: 30px;
      margin-bottom: 10px; } }

.sec-contact textarea {
  margin-left: 20px;
  height: 169px;
  box-sizing: border-box; }
  @media (max-width: 991px) {
    .sec-contact textarea {
      margin-left: 0; } }

.sec-contact .btn-wrap {
  display: flex;
  justify-content: center; }
  @media (max-width: 991px) {
    .sec-contact .btn-wrap {
      margin: 10px 0 0 0; } }

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0; }

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

.btn {
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  border: none; }
  @media (max-width: 991px) {
    .btn {
      font-size: 15px; } }
  .btn:hover {
    opacity: .7; }

.btn-primary {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #e80e70;
  height: 43px;
  width: 90px;
  margin: 0 0 0 10px; }
  .btn-primary:disabled {
    background-color: #cccccc; }
    .btn-primary:disabled:hover {
      opacity: 1; }
  @media (max-width: 991px) {
    .btn-primary {
      height: 30px;
      width: 72px; } }

.btn-send {
  height: 43px;
  width: 90px;
  margin: 0 0 0 10px; }
  @media (max-width: 991px) {
    .btn-send {
      height: 30px;
      width: 72px; } }

.btn-reset {
  color: #e80e70;
  border-bottom: 1px solid #e80e70;
  background-color: transparent;
  text-align: right;
  cursor: pointer;
  margin: 10px 10px 0 46px;
  height: 22px;
  padding: 0; }
  @media (max-width: 991px) {
    .btn-reset {
      margin: 6px 10px 0 10px;
      height: 17px; } }

#main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0) 100%);
  background-size: cover;
  display: flex;
  justify-content: center;
  z-index: 99;
  transition: all 300ms ease-in-out;
  overflow-y: hidden; }
  @media (max-width: 991px) {
    #main-nav {
      height: 70px; } }
  #main-nav .nav-inner {
    width: 100%;
    max-width: 1310px;
    display: flex;
    padding: 0 11px;
    box-sizing: border-box; }
    @media (max-width: 991px) {
      #main-nav .nav-inner {
        display: flex;
        justify-content: center; } }
  #main-nav .nav-logo {
    width: 150px;
    height: auto;
    margin-top: 12px; }
    #main-nav .nav-logo img {
      width: 100%; }
    @media (max-width: 767px) {
      #main-nav .nav-logo {
        margin-top: 9px; } }
  #main-nav .nav-list {
    margin-left: auto; }
    #main-nav .nav-list .nav-item {
      padding: 20px 0 30px 0;
      display: inline-block;
      text-decoration: none;
      color: white;
      margin-left: 40px; }
    #main-nav .nav-list .nav-contact {
      color: #E6176F; }
    @media (max-width: 767px) {
      #main-nav .nav-list {
        position: absolute;
        opacity: 0;
        z-index: 1;
        transition: all 300ms ease-in-out;
        display: block;
        top: 26vh;
        left: 0;
        width: 100%;
        height: 100vh; }
        #main-nav .nav-list .nav-item {
          margin: 0;
          width: 100%;
          text-align: center;
          font-size: 20px;
          padding: 30px 0 30px 0; } }
  #main-nav #nav-toggle {
    display: inline-block;
    cursor: pointer;
    padding: 10px 35px 16px 0;
    top: 10px;
    left: 10px;
    position: absolute;
    transition: all 300ms ease-in-out;
    z-index: 9; }
    @media (min-width: 768px) {
      #main-nav #nav-toggle {
        display: none; } }
    #main-nav #nav-toggle span {
      cursor: pointer;
      border-radius: 1px;
      height: 2px;
      width: 1.5em;
      background: #ffffff;
      position: absolute;
      display: block;
      content: '';
      transition: all 300ms ease-in-out; }
      #main-nav #nav-toggle span:after, #main-nav #nav-toggle span:before {
        cursor: pointer;
        border-radius: 1px;
        height: 2px;
        width: 1.5em;
        background: #ffffff;
        position: absolute;
        display: block;
        content: '';
        transition: all 300ms ease-in-out; }
      #main-nav #nav-toggle span:before {
        top: -8px; }
      #main-nav #nav-toggle span:after {
        bottom: -8px; }

.mobile-menu-expanded #main-nav {
  height: 100vh;
  background: linear-gradient(to bottom, #121a23 100%, #121a23 100%); }
  .mobile-menu-expanded #main-nav #nav-toggle {
    top: 5px; }
    .mobile-menu-expanded #main-nav #nav-toggle span {
      background-color: transparent; }
      .mobile-menu-expanded #main-nav #nav-toggle span:before {
        top: 5px;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }
      .mobile-menu-expanded #main-nav #nav-toggle span:after {
        top: 5px;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg); }
  .mobile-menu-expanded #main-nav .nav-list {
    opacity: 1; }

.mobile-menu-expanded ._scroll {
  opacity: 0; }

#footer {
  overflow-y: hidden;
  background-color: #222222; }
  #footer .fifty {
    -webkit-transform: scale(0.5);
            transform: scale(0.5); }
  #footer ._inner {
    width: 100%;
    max-width: 1340px;
    padding: 0 60px;
    box-sizing: border-box; }
    @media (max-width: 1280px) {
      #footer ._inner {
        padding: 0 30px; } }
    @media (max-width: 767px) {
      #footer ._inner {
        padding: 0 20px; } }
  #footer ._top {
    display: flex;
    justify-content: center;
    width: 100%; }
  #footer .__main-logo {
    border-bottom: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    padding: 30px 0; }
    #footer .__main-logo img {
      width: 130px;
      height: auto;
      margin: 0 auto; }
      @media (max-width: 767px) {
        #footer .__main-logo img {
          width: 65px; } }
    @media (max-width: 767px) {
      #footer .__main-logo {
        padding: 20px 0; } }
  #footer ._logo-wrap {
    display: flex;
    justify-content: space-between;
    align-content: baseline;
    margin: 35px 0;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%); }
    #footer ._logo-wrap a {
      display: block; }
    @media (max-width: 991px) {
      #footer ._logo-wrap {
        flex-wrap: wrap; }
        #footer ._logo-wrap a {
          width: 50%;
          text-align: center;
          padding: 10px 0; }
          #footer ._logo-wrap a:last-child {
            width: 100%; } }
    @media (max-width: 767px) {
      #footer ._logo-wrap {
        margin: 25px 0 25px 0; }
        #footer ._logo-wrap a {
          padding: 0; } }
  #footer .__rabbit {
    width: 50px; }
    @media (max-width: 767px) {
      #footer .__rabbit {
        width: 25px; } }
  #footer .__moonshot {
    width: 180px;
    margin-top: 20px; }
    @media (max-width: 767px) {
      #footer .__moonshot {
        width: 90px;
        margin-top: 10px; } }
  #footer .__cnc {
    width: 180px;
    margin-top: 28px; }
    @media (max-width: 767px) {
      #footer .__cnc {
        width: 90px; } }
  #footer .__zero {
    width: 180px;
    margin-top: 20px; }
    @media (max-width: 767px) {
      #footer .__zero {
        width: 90px;
        margin-top: 22px; } }
  #footer .__alchemist {
    width: 180px;
    margin-top: 23px; }
    @media (max-width: 767px) {
      #footer .__alchemist {
        width: 90px;
        margin-top: 26px; } }
  #footer ._bottom {
    background-color: #333333;
    color: white;
    font-size: 20px;
    font-weight: 300;
    padding: 30px 0; }
    @media (max-width: 1280px) {
      #footer ._bottom {
        font-size: 16px; } }
    @media (max-width: 991px) {
      #footer ._bottom {
        padding: 30px 0 15px 0; } }
    @media (max-width: 767px) {
      #footer ._bottom {
        padding: 15px 0 7px 0;
        font-size: 10px; } }
    #footer ._bottom ._inner {
      display: flex;
      justify-content: space-between;
      align-items: baseline; }
      @media (max-width: 991px) {
        #footer ._bottom ._inner {
          flex-wrap: wrap;
          justify-content: center; }
          #footer ._bottom ._inner > div {
            width: 100%;
            text-align: center; } }
    #footer ._bottom .__logo {
      width: 292px;
      height: auto; }
      @media (max-width: 1280px) {
        #footer ._bottom .__logo {
          width: 200px; } }
      @media (max-width: 767px) {
        #footer ._bottom .__logo {
          width: 155px; } }
    @media (max-width: 991px) {
      #footer ._bottom .__copy {
        border-top: 1px solid #ffffff;
        padding: 15px 0 0 0; }
      #footer ._bottom .__text {
        margin: 20px 0 35px 0; } }
    @media (max-width: 767px) {
      #footer ._bottom .__copy {
        border-top: 1px solid #ffffff;
        padding: 7px 0 0 0; }
      #footer ._bottom .__text {
        margin: 10px 0 20px 0; } }

/* The Modal (background) */
.ml-popup {
  display: none;
  /* Hidden by default */
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  /* Modal Content/Box */ }
  .ml-popup .back-drop {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 201; }
  .ml-popup .mp-inner {
    background-color: #fefefe;
    margin: 115px auto;
    padding: 60px 70px;
    width: 80%;
    /* Could be more or less, depending on screen size */
    max-width: 760px;
    box-sizing: border-box;
    position: relative;
    z-index: 209; }
    @media (max-width: 575px) {
      .ml-popup .mp-inner {
        margin: 81px 0 51px 0;
        padding: 28px 11px;
        width: 100%; } }
    .ml-popup .mp-inner.small {
      max-width: 852px;
      padding: 100px 70px; }
      @media (max-width: 991px) {
        .ml-popup .mp-inner.small {
          padding: 60px 10px; } }
  .ml-popup .sp-close {
    position: absolute;
    font-size: 50px;
    color: #333333;
    top: -14px;
    right: 7px;
    cursor: pointer;
    font-weight: 300; }
    @media (max-width: 575px) {
      .ml-popup .sp-close {
        top: -17px;
        right: 3px;
        font-size: 50px; } }
  .ml-popup .mp-content {
    width: 100%;
    box-sizing: border-box;
    color: #333333; }
    .ml-popup .mp-content .heading1 {
      font-size: 64px;
      margin: 0 0 0 0; }
      @media (max-width: 991px) {
        .ml-popup .mp-content .heading1 {
          font-size: 30px;
          margin: 0 0 0 0; } }
    .ml-popup .mp-content .heading2 {
      font-size: 30px;
      margin: 18px 0 0 0;
      font-weight: 500; }
      @media (max-width: 991px) {
        .ml-popup .mp-content .heading2 {
          font-size: 14px;
          margin: 10px 0 0 0; } }
    .ml-popup .mp-content .heading3 {
      font-size: 30px;
      margin: 5px 0 0 0;
      font-weight: 300; }
      @media (max-width: 991px) {
        .ml-popup .mp-content .heading3 {
          font-size: 14px;
          margin: 5px 0 0 0; } }
    .ml-popup .mp-content .btn-close {
      font-weight: 500;
      font-size: 20px;
      margin: 25px auto 0 auto;
      width: 100px; }
      @media (max-width: 991px) {
        .ml-popup .mp-content .btn-close {
          font-size: 15px; } }

@-webkit-keyframes colorSlide {
  0% {
    background-position: 0% 100%; }
  20% {
    background-position: 0% 0%; }
  21% {
    background-color: #4e5559; }
  29.99% {
    background-color: #ffffff;
    background-position: 0% 0%; }
  30% {
    background-color: #4e5559;
    background-position: 0% 100%; }
  50% {
    background-position: 0% 0%; }
  51% {
    background-color: #4e5559; }
  59% {
    background-color: #ffffff;
    background-position: 0% 0%; }
  60% {
    background-color: #4e5559;
    background-position: 0% 100%; }
  80% {
    background-position: 0% 0%; }
  81% {
    background-color: #4e5559; }
  90%, 100% {
    background-color: #ffffff; } }

@keyframes colorSlide {
  0% {
    background-position: 0% 100%; }
  20% {
    background-position: 0% 0%; }
  21% {
    background-color: #4e5559; }
  29.99% {
    background-color: #ffffff;
    background-position: 0% 0%; }
  30% {
    background-color: #4e5559;
    background-position: 0% 100%; }
  50% {
    background-position: 0% 0%; }
  51% {
    background-color: #4e5559; }
  59% {
    background-color: #ffffff;
    background-position: 0% 0%; }
  60% {
    background-color: #4e5559;
    background-position: 0% 100%; }
  80% {
    background-position: 0% 0%; }
  81% {
    background-color: #4e5559; }
  90%, 100% {
    background-color: #ffffff; } }

@-webkit-keyframes trackBallSlide {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(12px);
    transform: scale(1) translateY(12px); }
  6% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(3px);
    transform: scale(0.9) translateY(3px); }
  14% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(24px);
    transform: scale(0.4) translateY(24px); }
  15%, 19% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-12px);
    transform: scale(0.4) translateY(-12px); }
  28%, 29.99% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-12px);
    transform: scale(1) translateY(-12px); }
  30% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-12px);
    transform: scale(1) translateY(-12px); }
  36% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(3px);
    transform: scale(0.9) translateY(3px); }
  44% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(24px);
    transform: scale(0.4) translateY(24px); }
  45%, 49% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-12px);
    transform: scale(0.4) translateY(-12px); }
  58%, 59.99% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-12px);
    transform: scale(1) translateY(-12px); }
  60% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-12px);
    transform: scale(1) translateY(-12px); }
  66% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(3px);
    transform: scale(0.9) translateY(3px); }
  74% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(24px);
    transform: scale(0.4) translateY(24px); }
  75%, 79% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-12px);
    transform: scale(0.4) translateY(-12px); }
  88%, 100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-12px);
    transform: scale(1) translateY(-12px); } }

@keyframes trackBallSlide {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(12px);
    transform: scale(1) translateY(12px); }
  6% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(3px);
    transform: scale(0.9) translateY(3px); }
  14% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(24px);
    transform: scale(0.4) translateY(24px); }
  15%, 19% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-12px);
    transform: scale(0.4) translateY(-12px); }
  28%, 29.99% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-12px);
    transform: scale(1) translateY(-12px); }
  30% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-12px);
    transform: scale(1) translateY(-12px); }
  36% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(3px);
    transform: scale(0.9) translateY(3px); }
  44% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(24px);
    transform: scale(0.4) translateY(24px); }
  45%, 49% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-12px);
    transform: scale(0.4) translateY(-12px); }
  58%, 59.99% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-12px);
    transform: scale(1) translateY(-12px); }
  60% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-12px);
    transform: scale(1) translateY(-12px); }
  66% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(3px);
    transform: scale(0.9) translateY(3px); }
  74% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(24px);
    transform: scale(0.4) translateY(24px); }
  75%, 79% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-12px);
    transform: scale(0.4) translateY(-12px); }
  88%, 100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-12px);
    transform: scale(1) translateY(-12px); } }

@-webkit-keyframes nudgeMouse {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  20% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  30% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  60% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  80% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes nudgeMouse {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  20% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  30% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  60% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  80% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes nudgeText {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  20% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  30% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  60% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  80% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes nudgeText {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  20% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  30% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  60% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  80% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes colorText {
  21% {
    color: #4e5559; }
  30% {
    color: #ffffff; }
  51% {
    color: #4e5559; }
  60% {
    color: #ffffff; }
  81% {
    color: #4e5559; }
  90% {
    color: #ffffff; } }

@keyframes colorText {
  21% {
    color: #4e5559; }
  30% {
    color: #ffffff; }
  51% {
    color: #4e5559; }
  60% {
    color: #ffffff; }
  81% {
    color: #4e5559; }
  90% {
    color: #ffffff; } }
